.back-to-top-btn {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: var(--darkgrey);
    border-radius: 50%;
}

.icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
}

